<!DOCTYPE html>

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>

        <div id="back-to-index">
            <a href="/rango/">Home</a>
        </div>

        <div>
        {% if category %}
            <h1>{{ category.name }}</h1>
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <strong>No pages currently in category.</strong>
            {% endif %}
        {% else %}
            <p>The specified category does not exist. <a href="{% url 'rango:index' %}">Back to homepage</a></p>
        {% endif %}
        </div>
    </body>

</html>