{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Category List
{% endblock %}

{% block body_block %}
    <ul>
        {% if categories %}
            {% for c in categories %}
                <li>
                    {% if c == current_category %}
                        <strong><a href="{% url 'rango:show_category' slug=c.slug %}">{{ c.name }}</a></strong>
                    {% else %}
                        <a href="{% url 'rango:show_category' slug=c.slug %}">{{ c.name }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        {% else %}
            <li><strong>There are no categories present.</strong></li>
        {% endif %}
    </ul>
{% endblock %}
